body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 0.9rem;    
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 0.7rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 0.7rem;
    overflow: auto;
    padding: 0 1rem 0 1rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.3rem 0.7rem;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 600;
}

.library {
    background-color: #121212;
    border-radius: 0.7rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.3rem 0.7rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    padding: 0.5rem 0.7rem;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    opacity: 0.7;
}

.nav-option:hover,
.lib-option img:hover,
.icons i:hover,
.sticky-nav-icons img:hover {
    opacity: 1;
    cursor: pointer;
}

.lib-option a {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 600;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    margin-left: 2rem;
    opacity: 0.7;
}

.box {
    background-color: #232323;
    height: 6.8rem;
    border-radius: 0.7rem;
    margin: 0.5rem 0 1.7rem 0;
    padding: 1rem 1.25rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.3rem;
}

.box-p2 {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    font-weight: 500;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 2rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin-left: 0.25rem;
}

.sticky-nav-icons img {
    height: 1.5rem;
    width: 1.7rem;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.7;
}

.sticky-nav-icons img + img {
    margin-left: 1rem;
}

.sticky-nav-options .hide {
    margin-right: 0.7rem;
}

.sticky-nav-options .dark-badge {
    margin-right: 0.7rem;
}

.sticky-nav-options > .fa-user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.7;
    margin-right: 1rem;
}

.sticky-nav-options > .fa-user:hover {
    transform: scale(1.03);
    opacity: 1;
    cursor: pointer;
}

.dark-badge {
    background-color: #000;
    color: #fff;
    opacity: 0.7;
}

.dark-badge i {
    margin-right: 0.4rem;
}

.badge:hover {
    transform: scale(1.03);
    opacity: 0.9;
    cursor: pointer;
} 

.dark-badge:hover {
    opacity: 1;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.cards-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.5rem 0 1.5rem;
    scrollbar-width: none; 
}

.card {
    display: inline-flex;
    flex-direction: column;
    width: 160px;
    border-radius: 0.5rem;
    padding: 0.8rem;
    transition: all 0.3s ease;
}

.card img {
    width: 100%;
    border-radius: 0.3rem;
} 

.card-info {
    font-size: 0.75rem;
    opacity: 0.7;
    line-height: 1.25rem;
    margin: 0.7rem 0 0;
    white-space: normal;
    font-weight: 500;
}

.card:hover {
    background-color: #232323;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.5rem 0 0;
}

.section-title a h2 {
    margin: 0 0 0 0.5rem;
}

.section-title a + a {
    opacity: 0.7;
    font-weight: 500;

}

.section-title a h2:hover, .section-title a + a:hover {
    text-decoration: underline;
} 

.footer-nav {
    height: 510px;
    padding-top: 1.5rem;
}

.footer-divider1 {
    border: none;
    border-top: 1px solid #fff;
    opacity: 0.1;
    margin: 1rem 0.5rem;
}

.footer-primary {
    display: flex;
    justify-content: space-between;
}

.footer-list ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-list {
    padding: 3rem 0 1.7rem 1.3rem;
    display: flex;
    gap: 6rem;
    justify-content: flex-start;
}

.footer-column li{
    padding-bottom: 0.7rem;
}

.footer-heading {
    font-weight: 700;
}

.footer-heading ~ li {
    font-weight: 500;
    opacity: 0.7;
}

.footer-heading ~ li:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-nav-icons {
    padding: 3rem 0 1.7rem 10rem;
}

.footer-nav-icons .fa-instagram,
.footer-nav-icons .fa-twitter,
.footer-nav-icons .fa-facebook {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.7rem;
    width: 1.7rem;
    background-color: #232323;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.footer-nav-icons .fa-instagram:hover,
.footer-nav-icons .fa-twitter:hover,
.footer-nav-icons .fa-facebook:hover {
    background-color: #727272;
}

.footer-divider2{
    border: none;
    border-top: 1px solid #fff;
    opacity: 0.1;
    margin: 0 1.1rem 1.5rem 1.1rem;
}

.footer-secondary {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.8rem 0 1.8rem;
}

.footer-links a{
    padding-right: 0.75rem;
    opacity: 0.7;
    font-weight: 500;
    font-size: 0.85rem;
}

.footer-links a:hover {
    opacity: 1;
}

.footer-site  {
    opacity: 0.7;
    font-weight: 500;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 30%;
}

.player {
    width: 40%;
}

.controls {
    width: 30%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls img{
    height: 1rem;
    width: 1rem;
    padding: 0.3rem 1em 0.55rem 1rem;
    opacity: 0.7;
}

.player-controls img:hover {
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
}






