<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is the home page</h1>

    <h3>
        <!-- <%= 1 + 2 %> -->
    </h3>
    <h3>
        <!-- <%= 'hello'.toUpperCase() %> -->
    </h3>
    <h3>
        <%= ['hi', 'there', 'xyz'][2] %>
    </h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem reiciendis, iste tenetur, adipisci, corrupti
        neque eius aliquam facilis perferendis distinctio quaerat amet ea? Adipisci vero corrupti dolor in asperiores
        iusto.
    </p>
    <button>click me</button>
</body>

</html>