body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    padding: 2rem 0 2rem;
}

/* header */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222 !important;
}

/* footer */
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.f-info-socials {
    display: flex;
    gap: 1rem;
}

.f-info-links {
    display: flex;
    gap: 1.3rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* index page */
.listing-card {
    border: none !important;
    margin-bottom: 1.7rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-title{
    font-weight: 600 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* show page */
.show-img {
    height: 50vh;
    object-fit: cover;
}

