<% layout('/layouts/boilerplate.ejs') -%>

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-7 col-lg-6">
            <div class="alert alert-danger" role="alert">
                <div>
                    <div class="text-center">
                        <i class="fa-solid fa-triangle-exclamation fa-2x"></i>
                    </div>
                    <p class="text-center">
                        <%= message %>
                    </p>
                </div>
            </div>
        </div>
    </div>