body {
    margin-left: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.name {
    font-style: italic;
}

.btn {
    display: inline-block;
}

.msg {
    background-color: dodgerblue;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}